### Project Setup

In [53]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Normalizer, Binarizer, scale, OneHotEncoder, LabelEncoder
import matplotlib.pyplot as plt

### Read the data

In [54]:
data = pd.read_csv('wine+quality/winequality-red.csv', sep=';')

### Normalization

#### Rescaling data

In [55]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(data)
#scaled_data = pd.DataFrame(scaled_data, columns=data.columns)
#scaled_data

#### Standardizing data

In [56]:
features = scaled_data[:, 0:8]
scaler = StandardScaler().fit(features)
rescaledFeatures = scaler.transform(features)

#### Normalizing data

In [57]:
scaler = Normalizer().fit(features)
normalizedFeatures = scaler.transform(features)

#### Binarizing data

In [58]:
binarizer = Binarizer(threshold=0.0).fit(features)
binaryFeatures = binarizer.transform(features)

#### Mean removal

In [59]:
data_standardized = scale(data)

#### OneHotEncoding

In [60]:
encoder = OneHotEncoder()

encoder = OneHotEncoder(handle_unknown='ignore')
encoder.fit([[0,1,6,2],
              [1,5,3,5],
              [2,4,2,7],
              [1,0,4,2]])


encoder.transform([[2,4,3,4]]).toarray()

array([[0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.]])

#### Label Enccoding

In [63]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
input_classes=['Havells','Philips','Syska','Eveready','Lloyd']
label_encoder.fit(input_classes)

for i,item in enumerate(label_encoder.classes_):
    print(item,'-->',i)

labels=['Lloyd','Syska','Philips']
label_encoder.transform(labels)
label_encoder.inverse_transform(label_encoder.transform(labels))

Eveready --> 0
Havells --> 1
Lloyd --> 2
Philips --> 3
Syska --> 4

array(['Lloyd', 'Syska', 'Philips'], dtype='<U8')

### Analyzing

#### Describing

In [71]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

#### Shape

In [72]:
data.shape

(1599, 12)

### Visualizing Data

Histograms